
.hovertext {
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  //border-bottom: 2px dotted black;
}

.hovertext:before {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 45px;
  background-color: blue;
  color: #fff;
  text-align: center;
  border-radius: 90px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;


  position: absolute;
  //z-index: -20;
  right: 94%;
  top: -20%;
}

.hovertext:hover:before {
  opacity: 0.8;
  visibility: visible;
}
